* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url("./image/home-area.jpg");
  height: 100dvh;
  width: 100dvw;
  background-position: center;
  background-size: cover;
}

.header-content {
  max-width: 1140px;
  margin: 0 auto;
}

ul li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}

.banner-content {
  width: 100%;
  height: calc(100dvh - 67px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.banner-content p {
  width: 75%;
  text-align: center;
  font-size: 20px;
}

.banner-content h1 {
  font-size: 60px;
}

.banner-content h2 {
  font-size: 40px;
}

.button-primary {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.button-secondary {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.banner-button-container {
  display: flex;
  gap: 15px;
}

/* common layout section related design */
.back-white {
  background-color: white;
  margin: 50px 0;
}

.back-sky-white {
  background-color: rgb(238, 238, 238);
  margin: 50px 0;
}

.inner-section {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 400px;
  padding: 50px 0;
}
/* common layout section related design end */

/* common design */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.section-header div {
  width: 60px;
  background-color: rgba(0, 0, 255, 0.801);
  height: 3px;
}

.section-header h1 {
  font-size: 40px;
}

.section-header p {
  font-size: 14px;
  color: gray;
}

/* who are we ? */

.who-we-pera {
  text-align: center;
  width: 70%;
  margin: 40px auto;
  color: gray;
}

.who-we-pera span {
  font-size: 18px;
  font-weight: bold;
  color: rgb(80, 75, 75);
}

.who-we-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.who-we-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 7px 7px 6px 2px rgba(199, 185, 185, 0.75);
  -webkit-box-shadow: 7px 7px 6px 2px rgba(199, 185, 185, 0.75);
  -moz-box-shadow: 7px 7px 6px 2px rgba(199, 185, 185, 0.75);
}

.who-we-content div p i {
  font-size: 40px;
  color: rgba(0, 0, 255, 0.801);
}

.who-we-content div p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  color: gray;
}

/* kkkkkkkk */
.who-we-content div h3 {
  color: rgb(80, 75, 75);
  font-size: 30px;
}

.video-content {
  display: flex;
  margin: 50px 0;
  gap: 15px;
}

.our-video-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.our-video-text h2 {
  font-size: 40px;
}

.our-video-text p {
  line-height: 1.5;
  color: gray;
}

.our-video {
  flex-grow: 1;
}

.our-video iframe {
  border-radius: 5px;
}

/* service */

.sevices-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.sevices-cards > div {
  flex-basis: calc(33.33% - 30px);
  display: flex;
  gap: 10px;
  align-items: start;
  background-color: white;
  padding: 20px;
  box-shadow: 10px 10px 19px 0px rgba(138, 128, 128, 0.75);
  -webkit-box-shadow: 10px 10px 19px 0px rgba(138, 128, 128, 0.75);
  -moz-box-shadow: 10px 10px 19px 0px rgba(138, 128, 128, 0.75);
}

.sevices-cards > div p i {
  font-size: 40px;
  color: rgba(0, 0, 255, 0.801);
}
.sevices-cards > div > div h3 {
  font-size: 25px;
}

.sevices-cards > div > div p {
  margin-top: 15px;
  line-height: 1.5;
  color: gray;
}
