* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url("./image/home-area.jpg");
  height: 100dvh;
  width: 100dvw;
  background-position: center;
  background-size: cover;
}

.header-content {
  max-width: 1140px;
  margin: 0 auto;
}

ul li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}

.banner-content {
  width: 100%;
  height: calc(100dvh - 67px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.banner-content p {
  width: 75%;
  text-align: center;
  font-size: 20px;
}

.banner-content h1 {
  font-size: 60px;
}

.banner-content h2 {
  font-size: 40px;
}

.button-primary {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.button-secondary {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.banner-button-container{
    display: flex;
    gap: 15px;
}
